<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create a new RMA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create a new RMA</ion-title>
    </ion-toolbar>
  </ion-header>
        <form [formGroup]="formGroup" (ngSubmit)="createRMA(formGroup.value)">
          <ion-item>
            <ion-label>Customer Name <span style="color: red">*</span> </ion-label>
            <ion-input required="true" formControlName="customerName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number</ion-label>
            <ion-input inputmode="tel" formControlName="phoneNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Purchase Order</ion-label>
            <ion-input formControlName="purchaseOrder"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tracking Number</ion-label>
            <ion-input formControlName="trackingNumber"></ion-input>
          </ion-item>

          <div formArrayName="partNumbers">
            <section [formGroupName]="i" *ngFor="let partNumberForm of partNumbers.controls; let i = index">
              <div class="lesson-form-row" [formGroup]="partNumberForm">
                <ion-item>
                  <ion-label >Part Number #{{ i + 1 }} <span style="color: red">*</span></ion-label>
                  <ion-input type="text" formControlName="partNumber"></ion-input>
                  <ion-icon name="trash" *ngIf="i > 0" (click)="deleteRow(i)"></ion-icon>
                </ion-item>
              </div>
            </section>
          </div>

          <div class="button-grouping ion-padding">
            <ion-button size="default"  color="secondary" type="button" class = "button button-assertive button-clear add-row-rma" (click)="addNewRow()">
              <ion-text>Add another item</ion-text>
            </ion-button>
            <br><br>
            <ion-button size="large" expand="block" color="primary" type="submit" [disabled]="!formGroup.valid">
              <ion-text>Save</ion-text>
            </ion-button>
          </div>
        </form>
</ion-content>